<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Para las fechas -->
    <add key="DateTimeNow" value="31/07/2014 16:30" />
    <add key="DateFormatString" value="dd/MM/yyyy"/>
    <add key="DateTimeFormatString" value="dd/MM/yyyy HH:mm"/>
    <add key="TimeFormatString" value="HH:mm:ss"/>
    <!-- Para el log-->
    <add key="log_path" value="." />
  
    <!-- Para los Stored Procedure-->
    <!-- Para los stored procedures genéricos -->
    <add key="BaseDeDatos_Esquema" value="DATA_GROUP"/>
    
    <add key="SP_Filtrar" value="[{0}].[sp_{1}_filter]"/>
	<!-- Para la base de datos-->
    <add key="connection_string" value="Server=localhost\SQLSERVER2008;Database=GD1C2014;User Id=gd;Password=gd2014"/>
  
  
  </appSettings>
</configuration>