<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FrbaCommerceConnectionString" connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2014;User ID=gd;Password=gd2014"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="">
    <clear />
    <add key="FechaDelSistema" value="2013-12-31 15:00:00.000" />
  </appSettings>
</configuration>